    <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="card-content col-md-12">
            <div class="col-lg-5">
                <img class="company-logo" src="../../Content/images/company.svg" />
            </div>
            <div class="col-lg-7">
                <!--<p>{{c.Id}}</p>-->
                <h4>{{c.CompanyName}}</h4>
                <p>{{c.Address1}}{{c.Address2}}</p>
                <p>{{c.City}} {{c.StateCode}} {{c.PostalCode}}</p>
                <p>{{c.CompanyPhone | tel}}</p>
            </div>
        </div>
    </div>
