    <div class="card col-xs-12 col-md-5">
        <div class="card-content col-md-12">
            <div class="col-xs-5">
                <img src="../../Content/images/company.png" />
            </div>
            <div class="col-xs-7">
                <!--<p>{{c.Id}}</p>-->
                <h4>{{c.CompanyName}}</h4>
                <p>{{c.Address1}}{{c.Address2}}</p>
                <p>{{c.City}} {{c.StateCode}} {{c.PostalCode}}</p>
                <p>{{c.CompanyPhone | tel}}</p>
            </div>
        </div>
    </div>
