<div class="card col-xs-3">
    <div class="card-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12">
            <img class="contact-image" src="../../Content/images/person2.svg" />
        </div>
        <div class="col-xs-12">
            <p>{{c.NameFirst}} {{c.NameLast}} <i class="fa fa-envelope"></i> {{c.EmailAddress}}</p>
            <p><i class="fa fa-building"></i> {{c.PhoneDirectLine | tel}} ext: {{c.PhoneExtension}}</p>
            <p><i class="fa fa-home"></i> {{c.PhoneHome | tel}}</p>
        </div>
    </div>
</div>