body {
    background-color: #F1F1F1;
}

.app-page-header {
    height: 48px;
    line-height: 48px;
    background: #fff;
    padding-left: 26px;
    box-shadow: 2px 2px 2px #999;
    font-size: large;
    font-weight: 600;
}

.section, .mainbar {
    background: #F1F1F1;
}

.sidebar-filler, .sidebar-widget {
    background: #37474F;
}

.sidebar .navi > li > a {
    background-color: #37474F !important;
}

.card {
    float: left;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    margin: 10px 10px 30px 0;
    min-width: 425px;
}

.card:hover {
    cursor: pointer;
}

.card-content {
    padding: 8px 0 8px 0;
}

.navbar .navbar-brand {
    background: url(/content/images/icon.png) no-repeat left center !important;
    margin: 0 1em;
}

.widget.wblue .widget-head {
    background-color: #29B6F6;
    border: 1px solid #29B6F6;
    color: #fff;
}

.widget.wlightgreen .widget-head {
    background-color: #B7E6E6;
    border: 1px solid #B7E6E6;
    color: #fff;
}
 
.widget.wdarkgray .widget-head {
    background-color: #202A2F;
    border: 1px solid #202A2F;
    color: #fff;
}

    .widget.wred .widget-head .widget-icons a,
    .widget.wblue .widget-head .widget-icons a,
    .widget.wlightblue .widget-head .widget-icons a,
    .widget.worange .widget-head .widget-icons a,
    .widget.wgreen .widget-head .widget-icons a,
    .widget.wviolet .widget-head .widget-icons a,
    .widget.wdarkgray .widget-head .widget-icons a {
        color: #fff;
    }

        .widget.wred .widget-head .widget-icons a:hover,
        .widget.wblue .widget-head .widget-icons a:hover,
        .widget.wlightblue .widget-head .widget-icons a:hover,
        .widget.worange .widget-head .widget-icons a:hover,
        .widget.wgreen .widget-head .widget-icons a:hover,
        .widget.wviolet .widget-head .widget-icons a:hover,
        .widget.wdarkgray .widget-head .widget-icons a {
            color: #eee;
        }
