<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            
            <div id="page-title">
                <h2 class="page-header text-overflow"><i class="fa fa-dashboard"></i> {{vm.titles.main}} <small>{{vm.titles.mainsub}}</small></h2>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="widget wdarkgray">
                        <div data-cc-widget-header title="Search/Add Company"></div>
                        <div class="widget-content text-info">
                            <div class="row">
                                <div class="col-md-12">Search</div>
                                <div class="col-md-6"><span class="small">Phone</span>&nbsp; <input type="text" class="form-control" name="message" placeholder="Phone number"></div>
                                <div class="col-md-6">
                                    <span class="small">Category</span>&nbsp;
                                    <select id="selCategory" name="selectCategory" class="form-control" data-ng-model="vm.category" data-ng-options="a.name as a.name for a in vm.categories">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <hr/>
                            data-entry-form
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="today-datas">
                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-building"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.companyCount}}</span> Companies
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wdarkgray">
                        <div data-cc-widget-header title={{vm.titles.companyList}} allow-collapse="true"></div>
                        <div class="widget-content text-info">

                            <div>&nbsp;</div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Phone</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="c in vm.companies">
                                    <td>{{c.Id}}</td>
                                    <td>{{c.CompanyName}}</td>
                                    <td>{{c.Address1}}</td>
                                    <td>{{c.City}}</td>
                                    <td>{{c.CompanyPhone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>