
<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">

    <pageheader info="vm.titles"></pageheader>

    <section class="matter">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="widget wred">
                        <div data-cc-widget-header title="Testing Company Sort" allow-collapse></div>
                        <div class="widget-content text-info">
                            <label>Search: <input ng-model="searchText"></label>
                            <table id="searchTextResults">
                                <tr><th>Name</th><th>Phone</th></tr>
                                <tr ng-repeat="f in vm.companies | filter:searchText">
                                    <td>{{f.CompanyName}}</td>
                                    <td>{{f.CompanyPhone}}</td>
                                </tr>
                            </table>
                            <hr>
                            <label>Any: <input ng-model="search.$"></label> <br>
                            <label>Name only <input ng-model="search.CompanyName"></label><br>
                            <label>Phone only <input ng-model="search.CompanyPhone"></label><br>
                            <label>Equality <input type="checkbox" ng-model="strict"></label><br>
                            <table id="searchObjResults">
                                <tr><th>Name</th><th>Phone</th></tr>
                                <tr ng-repeat="f in vm.companies | filter:search:strict">
                                    <td>{{f.CompanyName}}</td>
                                    <td>{{f.CompanyPhone}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="widget worange">
                        <div data-cc-widget-header title="Testing" allow-collapse></div>
                        <div class="widget-content text-info">
                            <div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>

                            <label>Search: <input ng-model="searchText"></label>
                            <table id="searchTextResults">
                                <tr><th>Name</th><th>Phone</th></tr>
                                <tr ng-repeat="friend in friends | filter:searchText">
                                    <td>{{friend.name}}</td>
                                    <td>{{friend.phone}}</td>
                                </tr>
                            </table>
                            <hr>
                            <label>Any: <input ng-model="search.$"></label> <br>
                            <label>Name only <input ng-model="search.name"></label><br>
                            <label>Phone only <input ng-model="search.phone"></label><br>
                            <label>Equality <input type="checkbox" ng-model="strict"></label><br>
                            <table id="searchObjResults">
                                <tr><th>Name</th><th>Phone</th></tr>
                                <tr ng-repeat="friendObj in friends | filter:search:strict">
                                    <td>{{friendObj.name}}</td>
                                    <td>{{friendObj.phone}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!--Company Form-->
            <div class="row">
                <div class="col-md-8">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Company" allow-collapse="true"></div>
                        <div class="widget-content text-info">

                            <form id="companyForm" novalidate ng-submit="vm.save()">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="small col-md-4" for="company">Company</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="company" ng-model="vm.companyModel.CompanyName">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="address1">Address 1</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="address1" ng-model="vm.companyModel.Address1">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="address2">Address 2</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="address2" ng-model="vm.companyModel.Address2">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="stateCode">State</label>
                                            <div class="col-md-8">
                                                <select id="stateCode" name="selectState" class="form-control" data-ng-model="vm.companyModel.StateId" data-ng-options="s.Id as s.StateCode for s in vm.states" required>
                                                    <option value="">Select State</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="companyCategory">Category</label>
                                            <div class="col-md-8">
                                                <select id="companyCategory" name="selectCompanyCategory" class="form-control" data-ng-model="vm.companyModel.CategoryId" data-ng-options="a.Id as a.Category for a in vm.categories">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                    </div>

                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="small col-md-4" for="phone">Phone</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="phone" ng-model="vm.companyModel.CompanyPhone" ui-mask="(999) 999-9999">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="fax">Fax</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="fax" ng-model="vm.companyModel.CompanyFax" ui-mask="(999) 999-9999">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4" for="city">City</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="city" ng-model="vm.companyModel.City">
                                            </div>
                                        </div>
                                        <div class="spacer">&nbsp;</div>
                                        <div class="form-group">
                                            <label class="small col-md-4 " for="postalcode">Postal Code</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="postalcode" ng-model="vm.companyModel.PostalCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>&nbsp;</div>

                                <div class="row">
                                    <div class="col-xs-12"><button type="submit" class="btn btn-default form-control">Save</button></div>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>

                <!--Search-->
                <div class="col-md-4">
                    <div class="widget wblue">
                        <div data-cc-widget-header title="Search" allow-collapse="false"></div>
                        <div class="widget-content text-info">
                            <div class="row">
                                <div class="col-xs-12"><label class="small">Phone</label>&nbsp; <input type="text" class="form-control" name="message" placeholder="Phone number" valid-number maxlength="10"></div>
                                <div class="col-xs-12">
                                    <label class="small">Category</label>&nbsp;
                                    <select id="filterCategory" name="selectFilterCategory" class="form-control" data-ng-model="vm.filterCategory" data-ng-options="a.Id as a.Category for a in vm.categories">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>

                                <div class="col-xs-12"><label class="small">Filter</label>&nbsp; <input type="text" class="form-control" name="message" placeholder="Enter search text" ng-model="vm.filterValue"></div>

                                <div>&nbsp;</div>


                            </div>
                            <div class="row">
                                <div class="col-xs-12"><button type="button" class="btn btn-default form-control">Search</button></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--Company cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wblue">
                        <div data-cc-widget-header title={{vm.titles.companyList}} allow-collapse="true"></div>
                        <div class="widget-content text-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="c in vm.companies track by c.Id | | filter:search:strict">   
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>{{c.CompanyName}}</p>
                                            </div>
                                        </div>
                                        <company info="c" ng-click="vm.selectCompany(c.Id)"></company>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</section>