<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Contact manager is used to keep track of the companies we communicate with and the points of contact within those companies.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started: Server side</h2>
        <p>The server-side for the Contact Manager service runs on a deployed web server at GearHost.com so as long as this service is running, you will have access to your data.</p>
        <p><a class="btn btn-default" href="https://www.gearhost.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started: Client side</h2>
        <p>The client application is available by ...</p>
    </div>
    <div class="col-md-4">
        <h2>Major Features</h2>
        <p>This product will be used internally by corporate employees.</p><p>Major features will include:</p>
        <ul>
            <li>
                Simple company and contact management
                <ul>
                    <li>Browsing</li>
                    <li>Categorization</li>
                    <li>Searching</li>
                </ul>
            </li>
            <li>Centralized storage location</li>
            <li>Leverages the .NET platform</li>
        </ul>
    </div>

</div>
